.reveal h1,
.reveal h2{
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

.reveal .slides,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

.reveal h3 {
  color: #0A799A;
}

.reveal .slides {
  font-size: 16pt;
}

.reveal .slide-dark,
.reveal .slide-dark h1,
.reveal .slide-dark h2,
.reveal .slide-dark h3,
.reveal .slide-dark p,
.reveal .slide-dark li {
  color: white !important;
}

.reveal .slide-light,
.reveal .slide-light h1,
.reveal .slide-light h2,
.reveal .slide-light h3,
.reveal .slide-light p,
.reveal .slide-light li {
  color: navy !important;
}
